@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Waiting+for+the+Sunrise&display=swap');
/* PALETA DE COLORES Y FUENTES */
:root{
   --Font:'Caveat', cursive;
   --Font2: 'Waiting for the Sunrise', cursive;
   --color-title:rgb(255, 255, 255);
   --background-card:rgba(0, 0, 0, 0.884);
   --txt-p:#fff;
}
body{
    width: 99%;
    min-height: 98%;
    /* min-height: 100%; */
    display: flex;
    margin-top: 45px;
    background-image: url(./assets/img/dofon.jpg);
    /* background-image: url(./assets/img/audiff.avif); */
    /* background-image: url(./assets/img/4.jpg); */
    background-size:cover;
  background-repeat: no-repeat;

}

.cover-img{
    width: 300px;
    margin-top:14%;
    position: absolute;
    opacity: 0.8;
    left: 200px;
    border-radius: 50%;
    
    animation: rotar 4.2s linear infinite; /* Nombre de la animación, duración, tiempo y número de repeticiones */
    
   
}
@keyframes rotar {
    0% {
      transform: rotate(0deg); /* Rotación inicial */
    }
    100% {
      transform: rotate(360deg); /* Rotación final */
    }
  }

  .sect-d img{
    object-fit: cover; /* Ajusta la imagen dentro del elemento contenedor */
    -webkit-mask-image: radial-gradient(circle at 50% 50%, transparent 10px, black 7px); /* Crea un círculo centrado en la imagen */
    mask-image: radial-gradient(circle at 50% 50%, transparent 10px, black 7px);
}
  
  

.container{
    background-color: var(--background-card);
    
    
    margin-top: 9%;
    margin-bottom: 9%;
    margin-left:100%;
    padding: 20px;
    padding-top: 2%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    height:auto;
    width: 500px;
    position:relative;
    border-radius: 50px;
    box-shadow:  20px 20px 60px #8e918d,
             20px -20px 20px #5c39f7;
}
h2{
font-family: var(--Font);
font-size: 40pt;
color:var(--color-title);
text-shadow: 2px .4px rgb(228, 57, 57);
}
.song-author{
    font-family: var(--Font2);
    font-size: 25pt;
    color:var(--txt-p);
}
.player-progress{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--txt-p)
}
.pull-right{
    float: right;
}
progress{
    position: absolute;
    width: 60%;
    background-color: rgb(255, 255, 255);
    height: 1em;
    margin-bottom: 3em;
    border-radius: 2px;
    margin-right: 40%;
}

.player-buttons{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 10px;

}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.822);
    
}
.btnbtn-volume{
    color: #fff;
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(46, 26, 26, 0.822);
    
}

.pointer{
    cursor: pointer;
}
/* .dropdown{
    display: inline-flex;
    float: right;
} */

